@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<footer class="footer" style="height: 100%; ">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="widget widget_tweets clearfix">
                        <ul class="d-flex justify-content-between">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">Courses</a>
                            </li>
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">Become a Teacher</a>
                            </li>
                            <li>
                                <a href="#">Maintenance</a>
                            </li>
                            <li>
                                <a href="#">Language Packs</a>
                            </li>
                            <li>
                                <a href="#">LearnPress</a>
                            </li>
                            <li>
                                <a href="#">Release Status</a>
                            </li>
                            <li>
                                <a href="/Identity/Account/Login">Login</a>
                            </li>
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <li>
                                    <a href="/Identity/Account/Logout">Logout</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <ul class="flat-socials-v1">
                <li class="facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="vimeo">
                    <a href="#"><i class="fa fa-vimeo"></i></a>
                </li>
                <li class="rss">
                    <a href="#"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
            <div class="row">
                <div class="container-bottom">
                    <div class="copyright">

                    </div>
                </div>
                <!-- /.container-bottom -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</footer>


<!-- Bottom -->
