        <!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="header-wrap clearfix">
            <div style="height: 0px; margin: 0px" id="logo" class="logo"></div>
            <div class="nav-wrap">
                <div class="btn-menu">
                    <span></span>
                </div>
                <nav id="mainnav" class="mainnav">
                    <ul class="menu">
                        <li style="height: 8rem">
                            <a asp-controller="Home" asp-action="Index" style="height: 100%">
                                <img style="height: 100%; margin-left: 2rem; margin-right: 2rem" src="https://res.cloudinary.com/dvd0roy3a/image/upload/v1618318771/logo.png" alt="image"/>
                            </a>
                        </li>
                        <li class="home">
                            <a href="/">Начало</a>
                        </li>
                        <li class="has-sub">
                            <a>Информация</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/Clubs">Извънкласни дейности</a>
                                </li>
                                <li>
                                    <a href="/School">Училището</a>
                                </li>
                                <li>
                                    <a href="/Classes">Паралелки и профили</a>
                                </li>
                            </ul>
                            <!-- /.submenu -->
                        </li>
                        <li><a href="/AboutUs">За нас</a></li>
                        <li>
                            <a asp-area="" asp-controller="Events" asp-action="All" asp-route-id="1">Събития</a>
                            <!-- /.submenu -->
                        </li>
                        <li><a href="/Contact/ContactForm">Контакт</a></li>
                        @if (this.User.IsInRole("admin"))
                        {
                            <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Админ</a></li>
                        }
                        @*<li>
                                <a href="/BlogSingle"
                                >Blog single</a
                                >
                            </li>*@
                    </ul>
                    <!-- /.menu -->
                </nav>
                <!-- /.mainnav -->
            </div>
            <!-- /.nav-wrap -->
        </div>
        <!-- /.header-inner -->
    </div>
</header>