@{
    ViewData["Title"] = "Паралелки";
}
<body class="header-sticky">
    <main>
        <div class="page-title parallax parallax4">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h2 class="title">@this.ViewData["Title"]</h2>
                        </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Начало</a></li>
                                <li>@this.ViewData["Title"]</li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /page-title parallax -->
        <!-- About -->
        <section class="flat-row pad-top-100 flat-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="" data-effect="fadeIn">
                            <div class="col-md-9">
                                <div class="flat-title">
                                    <h1>91. Немска езикова гимназия "Константин Гълъбов"<span></span></h1>
                                    <p>91. Немска езикова гимназия „Проф. Константин Гълъбов“ е софийска гимназия с активно преподаване на немски език. Открита е на 15 септември 1960 година под името 91 ЕСПУ „Карл Либкнехт“. Първи директор на гимназията е Танка Пенчева Хинкова. Повече от половин век гимназията е една от най-популярните сред кандидат-гимназистите не само в София, но и в другите градове на страната.</p>
                                </div><!-- /.flat-title -->
                            </div>
                            <div class="col-md-3">
                                <img src="images/services/1.jpg" alt="images">
                            </div>
                        </div><!-- /.text-tab -->
                    </div><!-- /.content-inner -->
                    <div class="col-md-12">
                        <div class="" data-effect="fadeIn">
                            <div class="col-md-3">
                                <img src="images/services/1.jpg" alt="images">
                            </div>
                            <p class="col-md-9">91. Немска езикова гимназия „Проф. Константин Гълъбов“ е софийска гимназия с активно преподаване на немски език. Открита е на 15 септември 1960 година под името 91 ЕСПУ „Карл Либкнехт“. Първи директор на гимназията е Танка Пенчева Хинкова. Повече от половин век гимназията е една от най-популярните сред кандидат-гимназистите не само в София, но и в другите градове на страната.</p>
                        </div><!-- /.text-tab -->
                    </div><!-- /.content-inner -->
                </div><!-- /.content-tab -->
                <div class="col-md-12">
                    <div class="" data-effect="fadeIn">
                        <div class="col-md-9">
                            <div class="flat-title">
                                <h1>91. Немска езикова гимназия "Константин Гълъбов"<span></span></h1>
                                <p>91. Немска езикова гимназия „Проф. Константин Гълъбов“ е софийска гимназия с активно преподаване на немски език. Открита е на 15 септември 1960 година под името 91 ЕСПУ „Карл Либкнехт“. Първи директор на гимназията е Танка Пенчева Хинкова. Повече от половин век гимназията е една от най-популярните сред кандидат-гимназистите не само в София, но и в другите градове на страната.</p>
                            </div><!-- /.flat-title -->
                        </div>
                        <div class="col-md-3">
                            <img src="images/services/1.jpg" alt="images">
                        </div>
                    </div><!-- /.text-tab -->
                </div><!-- /.content-inner -->
            </div><!-- /.flat-tabs -->
        </section>
    </main>
</body>

