@{
    ViewData["Title"] = "За нас";
}
<body class="header-sticky">
    <main>
        <div class="page-title parallax parallax4">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title-heading">
                            <h2 class="title">@this.ViewData["Title"]</h2>
                        </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Начало</a></li>
                                <li>@this.ViewData["Title"]</li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /page-title parallax -->
        <!-- About -->
        <section class="flat-row pad-top-100 flat-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flat-tabs about-us" data-effect="fadeIn">
                            <div class="content-tab clearfix">
                                <div class="content-inner">
                                    <div class="text-tab">
                                        <div class="flat-title">
                                            <h1>Ученически съвет 91.НЕГ<span></span></h1>
                                        </div><!-- /.flat-title -->
                                        <p>Малко след създаването на Немската гимназия през 1960 година се поставя началото на една нова училищна институция, а именно нашият ученически съвет. Малка общност, която с времето се разраства и придобива авторитет.</p>
                                        <p>Ученическият съвет е замислен да служи на  ученици и учители, като осъществява връзката между тях. Разрешава проблеми, провежда събития, разнообразява училищното ежедневие след обсъждане на седмичните срещи. Нашите ежегодни събития:</p>
                                        <ul class="flat-list">
                                            <li>Коледен базар</li>
                                            <li>Немската чете</li>
                                            <li>9+1</li>
                                        </ul>
                                    </div><!-- /.text-tab -->
                                    <div class="images-tab">
                                        <img src="images/services/1.jpg" alt="images">
                                    </div>
                                </div><!-- /.content-inner -->

                            </div><!-- /.content-tab -->
                        </div><!-- /.flat-tabs -->
                    </div><!-- /col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
        @*
        <section class="flat-row about-us parallax parallax1">
            <div class="overlay bg-222">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="flat-counter">
                                <div class="counter-content">
                                    <div class="numb-count" data-to="121" data-speed="2000" data-waypoint-active="yes">121</div>
                                    <div class="name-count">Години от създаването</div>
                                    <div class="desc-count">Съветът е създаден още през 1900та години.</div>
                                </div>
                            </div><!-- /.flat-counter -->
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="flat-counter">
                                <div class="counter-content">
                                    <div class="numb-counter">
                                        <div class="numb-count" data-to="1000" data-speed="1000" data-waypoint-active="yes">1000</div>
                                    </div>
                                    <div class="name-count">Общ брой членове</div>
                                    <div class="desc-count">Броят на всички ученици, участвали някога в съвета.</div>
                                </div>
                            </div><!-- /.flat-counter -->
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="flat-counter">
                                <div class="counter-content">
                                    <div class="numb-count" data-to="100" data-speed="2000" data-waypoint-active="yes">100</div>
                                    <div class="name-count">Общ брой проекти</div>
                                    <div class="desc-count">Броят на всички проекти, организирани някога от съвета.</div>
                                </div>
                            </div><!-- /.flat-counter -->
                        </div>
                    </div><!-- / .row -->
                </div><!-- /.container -->
            </div><!-- /.overlay -->
        </section>
        *@
        <section class="flat-row pad-bottom-100">
            <div class="container">
                <div class="flat-title-section">
                    <h1 class="title">Ръководство</h1>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="flat-teacher-team d-flex justify-content-around">
                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-05.jpg" />
                            </div>
                            <div class="content">
                                <h4 class="name">Стефан Стефанов</h4>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="#" title="position">Председател</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="facebook-link">
                                        <a href="https://facebook.com">Facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-05.jpg" />
                            </div>
                            <div class="content">
                                <h4 class="name">Ивани Войнова</h4>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="#" title="position">Заместник-Председател</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="facebook-link">
                                        <a href="https://facebook.com">Facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="flat-teacher flat-hover-zoom">
                            <div class="entry-image">
                                <img src="images/teacher/Team-05.jpg" />
                            </div>
                            <div class="content">
                                <h4 class="name">Илияна Янева</h4>
                                <ul class="flat-information">
                                    <li class="position">
                                        <a href="#" title="position">Заместник-Председател</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:AlitStudios@gmail.com" title="Email address">contact@educate.com</a>
                                    </li>
                                    <li class="facebook-link">
                                        <a href="https://facebook.com">Facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /.flat-teacher-team -->
                </div>
                
            </div>
        </section>

        @*<section class="flat-row testimonial">
            <div class="container">
                <div class="testimonial-slider">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <blockquote>
                                You don't need a whole ecommerce system to sell your online courses. Paypal, Stripe payment methods integration can help you sell your courses out of the box. In the case you wanna use        WooCommerce, this awesome WordPress LMS Plugin.
                            </blockquote>
                        </div>
                        <div class="testimonial-meta">
                            <div class="testimonial-author">
                                <strong class="author-name">Donald Simpson</strong>
                                <div class="author-info">Founder & CEO, Arcade Systems</div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <blockquote>
                                You don't need a whole ecommerce system to sell your online courses. Paypal, Stripe payment methods integration can help you sell your courses out of the box. In the case you wanna use        WooCommerce, this awesome WordPress LMS Plugin.
                            </blockquote>
                        </div>
                        <div class="testimonial-meta">
                            <div class="testimonial-author">
                                <strong class="author-name">Donald Simpson</strong>
                                <div class="author-info">Founder & CEO, Arcade Systems</div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <blockquote>
                                You don't need a whole ecommerce system to sell your online courses. Paypal, Stripe payment methods integration can help you sell your courses out of the box. In the case you wanna use        WooCommerce, this awesome WordPress LMS Plugin.
                            </blockquote>
                        </div>
                        <div class="testimonial-meta">
                            <div class="testimonial-author">
                                <strong class="author-name">Donald Simpson</strong>
                                <div class="author-info">Founder & CEO, Arcade Systems</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

        <!--<section class="flat-row pad-bottom-30">
        <div class="container">
            <div class="flat-title-section">
                <h1 class="title">FAQ & CERTIFICATIONS</h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="flat-accordion">
                        <div class="flat-toggle">
                            <h6 class="toggle-title">Why Our Clinic?</h6>
                            <div class="toggle-content">
                                <img class="faq-img" src="images/about/faq.jpg" />
                                <div>
                                    Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                                </div>
                            </div>
                        </div>-->
        <!-- /toggle -->
        <!--<div class="flat-toggle">
        <h6 class="toggle-title active">Qualified Experts</h6>
        <div class="toggle-content">
            <img class="faq-img" src="images/about/faq.jpg" />
            <div>
                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                </p>
            </div>
        </div>
    </div>-->
        <!-- /toggle -->
        <!--<div class="flat-toggle">
        <h6 class="toggle-title">Quick Access to The Patient</h6>
        <div class="toggle-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        </div>
    </div>-->
        <!-- /toggle -->
        <!--<div class="flat-toggle">
        <h6 class="toggle-title">How can an architect save you money on your home design?</h6>
        <div class="toggle-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        </div>
    </div>-->
        <!-- /toggle -->
        <!--</div>--><!-- /.flat-accordion -->
        <!--</div>--><!-- / .col-md-6 -->
        <!--<div class="col-md-6">
            <div class="flat-certificates">
                <div class="flat-certified">
                    <img src="images/services/Certifications.jpg" />
                    <h4>Google Certified</h4>
                </div>
                <div class="flat-certified">
                    <img src="images/services/Certifications.jpg" />
                    <h4>Microsoft Certified</h4>
                </div>
                <div class="flat-certified">
                    <img src="images/services/Certifications.jpg" />
                    <h4>Amazon Certified</h4>
                </div>
                <div class="flat-certified">
                    <img src="images/services/Certifications.jpg" />
                    <h4>Google Certified</h4>
                </div>
                <div class="flat-certified">
                    <img src="images/services/Certifications.jpg" />
                    <h4>Microsoft Certified</h4>
                </div>
                <div class="flat-certified">
                    <img src="images/services/Certifications.jpg" />
                    <h4>Amazon Certified</h4>
                </div>
            </div>
        </div>
    </div>-->
        <!-- /.row -->
        <!--</div>
    </section>-->
    </main>
</body>

